@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&display=swap');
body {
    background-color: tan;
    font-family: 'Bebas Neue', cursive;
}

.website {
    display:flex;
    flex-direction: row;
}

div.header h1{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.420);
    border-radius: 30px;
    text-align: center;
}

.header {
    width: 100%;
}

#navigation-bar {
    width: 100%;
}

.nav {
    text-align: center;
    padding: 5px;
    list-style-type: none;
    display: block;
    border-radius: 10px;
    font-size: 1.2em;
}

#projects:hover {
    background-color: rgb(146, 25, 25);
    cursor: pointer;
    
}

#home:hover {
    background-color: rgb(156, 170, 53);
    cursor: pointer;
}

#resume:hover {
    background-color: rgb(203, 67, 48);
    cursor: pointer;
}

#skills:hover {
    background-color: rgb(243, 181, 53);
    cursor: pointer;
}

#line-break {
    background-color: rgb(217, 143, 65);
    border: 1px solid black;
}

#line-break2 {
    background-color: rgb(217, 143, 65);
    border: 1px solid black;
}

#line-break:hover {
    cursor: auto;
}

#line-break2:hover {
    cursor: auto;
}
.icon {
    right: 35%;
    top: 3em;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
}

.icon:hover {
    cursor: pointer;
}

.icon-2 {
    right: 5%;
    top: 3em;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon-2:hover {
    cursor: pointer;
}

#hamburger {
    width: 30px;
    height: 30px;
}

#hamburger:hover {
    width: 35px;
    height: 35px;
}

#hamburger-2 {
    width: 30px;
    height: 30px;
}

#hamburger-2:hover {
    width: 35px;
    height: 35px;
}

#night-mode {
    width: 30px;
    height: 30px;
}

#night-mode:hover {
    width: 35px;
    height: 35px;
}

#light-mode {
    width: 30px;
    height: 30px;
}

#light-mode:hover {
    width: 35px;
    height: 35px;
}

div#skills-page h1{
    text-align: left;
}

#home-page {
   display: flex;
   flex-direction: column; 
}

.home-div {
    padding: 10px;
    margin: 10px;
}

#home-top-div {
    display: flex;
    flex-direction: row;
}

#home-picture {
    width: 30%;
    height: 200px;
}

#profile-pic {
    height: 218px;
    border-radius: 10px;
    display: block;
    margin-left: 20%;
    border: 5px solid rgba(255, 255, 255, 0.420);
}

.home-page-line{
    justify-content: center;
    width: 50%;
    height: 10px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.420);
    margin: 60px 50% 0px 25%;
}

#home-links {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 30px;
}

.icon-links {
    width: 50px;
    padding: 30px;
    margin-top: 20%;
}

.icon-links:hover {
    width: 70px;
    height: 70px;
}

#home-bot-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#home-description {
    width: 100%;
    margin: 10px 25% 50px 25%;
}

div#home-description p {
    font-family: 'Dosis', sans-serif;
}

#resume-page {
    margin-left: 50px auto;
}

.resumeh3 {
    text-align: center;
}

.resumeh2 {
    margin-left: 50px;
    animation: 1s ease-out slideInLeft
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.resumep {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Dosis', sans-serif;
    animation: 2s ease-out slideInDown
}

div#resume-page h2 {
    background-color: rgba(255, 255, 255, 0.420);
    width: 200px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#skills-page {
    margin-left: 50px;
}

.pageskills{
    background-color: rgba(255, 255, 255, 0.420);
    width: 150px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.1em;
    margin-left: 10px;
}

.bar-border {
    width: 60%;
    height: 1em;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 50px;
}

.bar {
    height: 1em;
    border-radius: 10px;
    background-color: black;
    width: 50%;
    text-align: center;
    color: tan;
}

#bar-HTML {
    width: 90%;
    animation: 2s ease-out slideInLeftHTML;
}

@keyframes slideInLeftHTML {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

#bar-CSS {
    width: 85%;
    animation: 2s ease-out slideInLeftCSS;
}

@keyframes slideInLeftCSS {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

#bar-JS {
    width: 85%;
    animation: 2s ease-out slideInLeftJS;
}

@keyframes slideInLeftJS {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

#bar-react {
    width: 80%;
    animation: 2s ease-out slideInLeftReact;
}

@keyframes slideInLeftReact {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

#bar-jQ {
    width: 70%;
    animation: 2s ease-out slideInLeftjQ;
}

@keyframes slideInLeftjQ {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

#bar-p {
    width: 40%;
    animation: 2s ease-out slideInLeftp;
}

@keyframes slideInLeftp {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

#bar-c {
    width: 90%;
    animation: 2s ease-out slideInLeftc;
}

@keyframes slideInLeftc {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

#bar-s {
    width: 90%;
    animation: 2s ease-out slideInLefts;
}

@keyframes slideInLefts {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

#bar-t {
    width: 100%;
    animation: 2s ease-out slideInLeftt;
}

@keyframes slideInLeftt {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#footer {
    padding: 10px 0 10px 0px;
    margin: 0px 0px 20px 30px;
    position: absolute;
    width: 100%;
    height: 20px;
}

div.footer p {
    margin-top: 20px;
    text-align: center;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.420);
    border-radius: 30px;
}

#projects-page {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project-pic {
    width: 60%;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.420);
    margin: 0px 25% 0px 20%;
}

#carousel-btn {
    width: 60px;
    height: 60px;
    margin: 150px 50px 50px 50px;
}

#carousel-btn:hover {
    cursor: pointer;
}

#carousel-btn2 {
    width: 60px;
    height: 60px;
    margin: 150px 50px 50px 50px;
}

#carousel-btn2:hover {
    cursor: pointer;
}

div.carousel h1 {
    text-align: center;
}

.dark-mode {
    background: rgb(95, 58, 11);
    color: rgba(255, 255, 255, 0.6);

}

@media screen and (max-width: 850px) {
    .icon {
        right: 20%;
        top: 3em;
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
    }

    #home-top-div {
        display: flex;
        flex-direction: column;
    }

    .icon-links {
        width: 30px;
        padding: 10px;
        margin-top: 20%;
    }

    .icon-links:hover {
        width: 35px;
        height: 35px;
    }

    #home-links {
        margin-left: 18%;
        display: flex;
        width: 70%;
        height: 30px;
    }

    .home-div {
        margin-left: 20%;
    }

    .pageskills{
        width: 25%;
    }
    
    div#resume-page h2 {
        width: 23%;
    }

    #carousel-btn {
        width: 30px;
        height: 30px;
        margin: 125px 50px 50px 50px;
    }
    
    #carousel-btn2 {
        width: 30px;
        height: 30px;
        margin: 125px 50px 50px 50px;
    }

    .project-pic {
        width: 300px;
        margin: 0 auto;
    }
    
}