@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background-color: tan;
    font-family: 'Bebas Neue', cursive;
}

#navigation-bar {
    width: 100%;
}

.nav {
    text-align: center;
    padding: 5px;
    list-style-type: none;
    display: block;
    border-radius: 10px;
}

.nav:hover {
    background-color: rgb(244, 212, 172);
    cursor: pointer;
}

.icon {
    right: 39%;
    top: 1.5em;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon:hover {
    cursor: pointer;
}

.icon-2 {
    right: 5%;
    top: 1.5em;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon-2:hover {
    cursor: pointer;
}

#hamburger {
    width: 30px;
    height: 30px;
}

#hamburger-2 {
    width: 30px;
    height: 30px;
}

#night-mode {
    width: 30px;
    height: 30px;
}

#night-mode:hover {
    width: 35px;
    height: 35px;
}

#light-mode {
    width: 30px;
    height: 30px;
}

#light-mode:hover {
    width: 35px;
    height: 35px;
}

h1 {
    text-align: center;
}

#home-body {
   display: flex;
   flex-direction: column; 
}

.home-div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#home-top-div {
    display: flex;
    flex-direction: row;
}

#home-picture {
    background-color: tan;
    display: flex;
    width: 30%;
    height: 200px;
}

#profile-pic {
    position: fixed;
    height: 218px;
    margin: -10px 0 0 20px;
    border-radius: 10px;
}

#home-links {
    display: flex;
    width: 70%;
    height: 200px;
    background-color: tan;
}

.icon-links {
    width: 30px;
    height: 30px;
    padding: 30px;
}

.icon-links:hover {
    width: 50px;
    height: 50px;
}

#home-bot-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px
}

#home-description {
    width: 100%;
    height: 400px;
}